rules_version = '2';

service cloud.firestore {
    match /databases/{database}/documents {
        match /Users/{userId} {
            allow read, write: if request.auth != null && request.auth.uid == userId;
        }

        match /Places/{placeId}/{_}/{__} {
            allow read: if request.auth != null;
            allow write: if isOwner(placeId);
        }

        function isOwner(placeId) {
            let placeDocument = get(/databases/$(database)/documents/Places/$(placeId));
            return request.auth.uid in placeDocument.data.owners;
        }
    }
}
